html, body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
/* Стилизация бокового меню */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 200px;
    border-right: 1px solid #D7DBDD;
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}
/* Стилизация основной части */
.content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    float: left;
}