{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>block Info</title>
        <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>

    <body>

    <div class="sidebar">
        <ul>
            <li><a href="/main">другой файл</a></li>
            <li>--------------------------</li>
            {% for item in object_list %}
                <li><a href="/main/controllerInfo/{{ item }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="content">
        <form action="{% url 'blockview' %}" method = "post">
            {% csrf_token %}


            {% for object in form %}
                <p><label class="form-label" > {{object.label}}: </label> {{ object }} </p>
            {% endfor %}

            <!--{{ IEC_edit.as_p }}-->
            <button type="submit">Сохранить в gack</button>
        </form>
    </div>

    </body>
</html>